<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a routerLink="/" class="navbar-brand d-flex align-items-center">
                <span class="material-icons">store</span>
                <span class="ps-3">Lojinha Online</span>
            </a>

            <a routerLink="/cart" class="navbar-brand d-flex align-items-center">
                <span class="material-icons">shopping_cart</span>
            </a>
        </div>
    </div>
</header>