<div class="col">
    <div class="card shadow-sm">
        <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" />
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Product 1</text>
        </svg> -->
        <img src='{{ imgUrl }}' alt="random image">

        <div class="card-body">
            <h5 class="card-title">{{ productTitle }}</h5>
            <p class="card-text">{{ shortDescription }}</p>
            <h2>{{ productId }}</h2>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-info" routerLink="product">Saber
                        mais</button>
                    <button type="button" class="btn btn-sm btn-info" routerLink="cart"
                        (click)="addToCart(productId)">Comprar</button>
                </div>
                <small class="text-muted">{{ price | currency: 'BRL'}}</small>
            </div>
        </div>
    </div>
</div>